:root {
  --app-main-box-shadow: #0000003f;
  --app-main-box-background-color: #ffffff;
  --app-main-icon-pass-back-background-color: #e0e0e0c7;
  --app-main-input-border-color: #00000094;
  --app-main-input-border-color-hover: #2d5ebbe7;
  --app-main-input-span-color: #2d5ebbe7;
  --app-main-input-span-color-green: #106813;
  --app-main-input-span-fail-color: #ff1500;
  --app-main-input-span-color-hover: #153977f4;
  --app-main-down-color: #000000cc;
  --app-main-down-background-color: #0000001f;
  --app-main-down-border-color: #00000094;
  --app-footer-color: #ffffffce;
  --app-footer-color-hover: #ffffff;
  --app-footer-background: rgba(0, 0, 0, 0.6);
}
